| Your membership to GetAudioFromVideo.com has been canceled.
= "\n\n"
| - Subscription: 
= @subscription.plan.name
= "\n"
| - Status: canceled
= "\n\n"
| We are sorry to see you go. Your membership will remain active until the end of the current billing period. 
= "\n\n"
| If you have any questions, please contact us at: support@getaudiofromvideo.com.
