| Your most recent membership payment to GetAudioFromVideo.com failed.
= "\n\n"
| Please login to your account and ensure your credit card is correct.  We will automatically attempt another charge in 1 day.
= "\n\n"
| - Subscription: 
= @subscription.plan.name 
= "\n"
| - Amount: 
= amount_helper(@amount)
= "\n\n"
| If you have any questions, please contact us at: support@getaudiofromvideo.com 
