| Thank you for being a member of GetAudioFromVideo.com.
= "\n\n"
| Here is your payment details:
= "\n\n"
| - Subscription: 
= @subscription.plan.name
= "\n"
| - Amount: 
= amount_helper(@amount)
= "\n"
| - Payment date: 
= date_helper(@date)
= "\n\n"
| If you have any questions, please contact us at: support@getaudiofromvideo.com
