| Your membership to GetAudioFromVideo.com has been upgraded.
= "\n\n"
| Here is your new membership details:
= "\n\n"
| - Subscription: 
= @subscription.plan.name
= "\n"
| Amount charged today: 
= amount_helper(@difference)
= "\n\n"
| If you have any questions, please contact us at: support@getaudiofromvideo.com  
