files:
  "/opt/custom_config/add-swap.sh":
    mode: "000755"
    owner: "root"
    group: "root"
    content: |
      #!/bin/bash

      swapon -s | grep -q /var/swapfile && exit 0

      dd if=/dev/zero of=/var/swapfile bs=1M count=2048 &&
      chmod 600 /var/swapfile &&
      mkswap /var/swapfile &&
      echo /var/swapfile none swap defaults 0 0 | tee -a /etc/fstab &&
      swapon -a

commands:
  create_swap_when_less_1G_mem:
    command: "/opt/custom_config/add-swap.sh"
    test: "[ $(grep MemTotal /proc/meminfo | awk '{print $2}') -lt 1024000 ]"
