files:
  "/usr/bin/youtube-dl":
    mode: "000755"
    owner: root
    group: root
    source: https://yt-dl.org/downloads/latest/youtube-dl
  "/opt/ffmpeg-static.tar.xz":
    mode: "000644"
    owner: root
    group: root
    source: "https://s3.amazonaws.com/gafv-production-tools/ffmpeg-static.tar.xz"

commands:
  unpack_ffmpeg:
    command: "rm -rf /opt/ffmpeg-static && mkdir /opt/ffmpeg-static && tar xf /opt/ffmpeg-static.tar.xz -C /opt/ffmpeg-static --strip-components=1"
